.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.itemWrapper img {
  border-radius: 8px;
  object-fit: cover;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}


.buttonWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.Button {
  margin: auto;
  background-color: #031932;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Button:hover {
  background-color: #000000;
}

.countDisplay {
  font-size: 1.2rem;
  color: #333;
  font-weight: bold;
  margin: 0 1rem;
}

.price {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
  margin-top: 10px;
}

.totalPrice {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  color: #000000;
}
