.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f9fa;
}


.container {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}


.signin {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}


.desc {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 0.95rem;
  color: #555;
}

.input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.7rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.input:focus {
  border-color: #0070f3;
}

/* ღილაკი */
.button {
  width: 100%;
  padding: 1rem;
  background-color: #0070f3;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #005bb5;
}

.notRegistered {
  display: block;
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  font-size: 0.95rem;
  color: #0070f3;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

